@import url(common.css);

/* =========== swiper ============== */

.gallery1{ /* 갤러리 전체영역 설정 */
	overflow:hidden; 
	position:relative; 
	margin:0 auto; 
	width:100%; 
	/*height:630px; */
} 
.swiper-wrapper .swiper-slide img{  /*가변이미지*/
	width:100%; 
	max-width:100%;
}


/* 하단버튼 */
.gallery1 .nav1 { 
	position: absolute; 
	left:0px; 
	bottom:20px; 
	text-align: center;  
	z-index: 10; 
} 
.gallery1 .nav1 .swiper-pagination-bullet { /* 버튼모양설정 */
	background-color:orange; 
	opacity:0.5; 
	width:10px; 
	height:10px; 
	margin-left:5px; 
	border-radius:0; 
} 
.gallery1 .nav1 .swiper-pagination-bullet-active{  /* 메뉴on 설정(현재위치활성화) */
	background-color:blue; 
	opacity:1;
} 


/* 좌우버튼 */
.gallery1 .swiper-button-prev, 
.gallery1 .swiper-button-next { 
	position:absolute; 
	top:50%; 
	width:27px; 
	height:44px; 
	margin-top:-22px; 
	z-index:10; 
	cursor:pointer; 
	background-size:cover; 
}
.gallery1 .swiper-button-prev { left:50px; /* background:url(); */ } /* 이전버튼 */
.gallery1 .swiper-button-next { right:50px; /* background:url(); */ } /* 다음버튼 */



/* =========== Content ============== */

/*.content{
	width:100%;
}
.content .con1{
	width:100%;
	height:200px;
	background:orange;
}
.content .con2{
	width:100%;
	height:200px;
	background:skyblue;
}
.content .con3{
	width:100%;
	height:200px;
	background:pink;
}
footer{
	width:100%;
	height:50px;
	background:gray;
}*/